.login {
  font-family: "Comme ExtraBold";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  color: #000;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 40px;
  border-radius: 10px;
  background: linear-gradient(to right, #e0efff, #e0efff) padding-box, linear-gradient(to right, #3a3ad9, #b716b5) border-box;
  border: 2px solid transparent;
  border-radius: 10px;
}

.login-h1 {
  margin: auto;
}

.login-error {
  color: red;
}

.login-email {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-password {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-button {
  font-family: inherit;
  padding: 10px 10px;
  background-color: #040046;
  color: #fff;
  border-radius: 5px;
  border: 3px solid #6ee2f5;
  transition: 0.3s background-position, 0.3s color;
}

.login-button:hover {
  background-position: -110px 0, -110px 0;
  color: #fff7;
}

.login-register {
  display: flex;
  gap: 10px;
  align-items: center;
}

.login-register a {
  text-decoration: none;
  color: #4d2ea0;
}

.login-input {
  width: 100%;
  padding: 10px 5px;
  border-radius: 5px;
  border: 2px solid gray;
  outline: none;
}

.login-input-container {
  position: relative;
  width: 100%;
}

:is(.password-icon, .email-icon) {
  position: absolute;
  right: 0px;
  top: 9px;
  width: 20px;
  z-index: 10;
}