.modal {
  backdrop-filter: blur(5px);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0.3s opacity;
}

.inactive {
  opacity: 0;
  pointer-events: none;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #0005;
  width: 60%;
  height: 65%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #0005;
}

.close-container {
  padding: 3px 4px;
  border-radius: 4px;
  transition: 0.3s background-color;
}

.close-container:hover {
  cursor: pointer;
  background-color: #d7d7d7;
}

.close-button {
  width: 25px;
}

.modal-body {
  flex-grow: 1;
}