:root {
  font-family: Tahoma ,'Nature Spirit', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgb(58, 59, 84);
  --input-padding: 10px;
  --yellow: #f8f427;
}

body {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  background-color: #CD5A91;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}

.header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  z-index: 1;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
  color: #000000;
  margin: 0;
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: start;
  align-items: end;
}

.sidebar {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  align-items: center;
  background-color: #9C446E;
  border-right: 1px solid #ebd9e6;
}

.sidebar ul {
  padding: 5px 5px;
  margin: 0;
}
.sidebar li {
  list-style: none;
}

.boards {
  display: flex;
  align-items: start;
  max-width: 90vw;
  height: 90%;
  gap: 50px;
  overflow-y: hidden;
}